<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="/img/assets/favicon.ico">
	<title>Ванные кабины</title>
	<link rel="stylesheet" href="/dist/home.css">
	<script src="/dist/home.min.js"></script>
</head>
<body>
	{% include 'partials/header.html' %}
	{% include 'partials/footer.html' %}
</body>
</html>
